body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.header {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2023-01/1674536707_catherineasquithgallery-com-p-fon-korichnevie-knigi-177.jpg);
  height: 100vh;
  background-size: cover;
}

a {
  text-decoration: none; /* no underline */
}
